<html>
    <head>
        <title>David and Goliath: How Profits Over People Made Everyone Poorer</title>
        <link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
        <link href="style.css" rel="stylesheet" />
    </head>
    <body>
        <div class="reveal">
            <div class="slides">
                <section id="intro" class="text">
                    <h1>David and Goliath</h1>
                    <h2>How Profits Over People Made Everyone Poorer</h2>
                    <small>Zachary R.T. Boyd - FCIQ 101 - Summer 2019</small>
                    <br/>
                    <small><a href="https://github.com/znetstar/david-and-goliath-slideshow">Source code is available on GitHub</a></small>
                </section>
                <section id="desc" class="text">
                    <p>
                        The next ten slides will contrast community based lending with the predatory lending
                        that polfirated in the run-up to the suprime mortgage crisis of 2008
                    </p> 
                </section>
                <section data-background-video="/data/videos/self-help-1.mp4" class="playing" id="self-help-1">
                    <p>
                        In the early 2000s the finacial industry had an ostensibly admirable goal. 
                        Give low-income households a slice of the American Dream, through home ownership.
                    </p>
                </section>
                <section data-background-video="/data/videos/big-short-1.mp4" class="playing" id="big-short-1">
                    <p>
                       The banks divsised an extremely profitable scheme to lend to poor households.
                       They'd bundle up risky "subprime" mortgages and quickly sell them to investors.
                    </p> 
                </section>
                <section data-background-video="/data/videos/nhclf-1.mp4" class="playing"  id="nhclf-1">
                    <p>
                       The best way to lend money to low-income households in to build an 
                       intimate and healthly relationship with the borrower.

                       Small community-based lenders called CDLFs
                       specialized in cultivating strong relationships and serving low-income communities.
                    </p> 
                </section>
                <section data-background-video="/data/videos/big-short-2.mp4" class="playing"  id="big-short-2">
                    <p>
                       Except, actually getting to know your borrower is time-consuming and eats
                       into profits. So instead banks mixed up good loans with loans that 
                       probably weren't going to be repaid, and sold them as "CDOs."
                    </p> 
                </section>
                <section data-background-video="/data/videos/self-help-2.mp4" class="playing"  id="self-help-2">
                    <p>
                       Being non-profits, CDLFs took care to lend only what their client could afford
                       which lowered rates of default. CDLFs also made accommodations extending loan 
                       periods or restructuring debt, allowing families to recuperate after hardship.
                    </p> 
                </section>
                <section data-background-video="/data/videos/big-short-3.mp4" class="playing"  id="big-short-3">
                    <p>
                      Meanwhile, the banks were lending indiscriminately. They'd lend to poor households
                      at an interest rate that would increase dramatically within a few years.

                      That would mean billions for the banks, but leave those families drowning in debt.
                      Or homeless.
                    </p> 
                </section>
                <section data-background-video="/data/videos/margin-call-1.mp4" class="playing"  id="margin-call-1">
                    <p>
                        In 2008 the whole charade came crashing down. Millions of homeowners defaulted on their mortgages
                        leaving the banks responsible for collecting the money, on the verge of bankruptcy.

                        Some banks, like Goldman Sachs were able to shift their bad loans on to other banks, 
                        allowing them to ride out the crash largely unscathed. 
                    </p> 
                </section>
                <section data-background-video="/data/videos/big-short-4.mp4" class="playing"  id="big-short-4">
                    <p>
                        Several of the banks which unwittingly received those bad loans almost went bankrupt.
                        The collapse of Lehman Brothers, a bank similar to Goldman, sent the world finacial system
                        into freefall.

                        The greed of predatory banks caused the second largest finacial downturn in American histroy,
                        second only to the Great Depression.
                    </p> 
                </section>
                <section data-background-video="/data/videos/nhclf-2.mp4" class="playing"  id="nhclf-2">
                    <p>
                        Incredibly CDLFs had minimal losses during that sime time period.

                        Bank of America, the nation's largest investor in CDLFs, experienced no losses
                        from the $1.2 billion invested in CDLFs.

                        Citigroup, the parent company of Citibank, lost $65 billion due to mortgage 
                        defaults.
                    </p> 
                </section>
                <section class="text" id="outro-1">
                    <p>
                        The key difference, is the lending relationships. CDLFs have a deep understanding of who
                        they're lending to, and are able to make the necessary accommodations to keep clients
                        out of default, and to better the communities they serve.
                    </p> 
                </section>
                <section class="text" id="outro-2">
                    <p>
                        Had Lehman Brothers plowed all of its cash into CDLFs it would be solvent today.

                        Banks should let CDLFs take the lead on all low-income investment projects.
                    </p> 
                </section>
                <section class="text full" id="ref">
                   <h3>References</h3>
                   <%- await include('./references.ejs') %>
                </section>
                <section class="text" id="fin">
                    <p>
                        End.
                    </p> 
                </section>
            </div>
        </div>
        <script type="text/javascript" src="app.js"></script>
    </body>
</html> 